.git
.github

.idea
.vscode/
.agents/
.diagnostics/

venv
.env
.venv

__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo

datasets/
videos/
src/data/
src/plate/
src/resources/logs

*.pt
*.onnx
**/*.pt
**/*.onnx

*.mp4
*.avi

tests/
src/tests/
